/nbproject/private/
/gson/nbproject/private/
/pig/nbproject/private/
/json-lib/nbproject/private/
/pig/build/
/ghapi/build/
/build/
/flexjson/nbproject/private/
/ghapi/nbproject/private/
/github-api/nbproject/private/
/github-java-sdk/build/